<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>

<body>
  {{>navbar}}
   <!--main header-->
   <div class="container-fluid main_header">
    <div class="row">
<div class="col-md-10 col-12 mx-auto">
    <div class="row">
        <!--left side div-->

            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.png" alt="Ricky" class="img-fluid" title="Ricky Gathwal">
                </figure>
            </div>
                <div class="col-md-6 col-12 main_header_left"> 
            <p>Welcome to AboutPage </p>
            <h1>Let's talk <span class="text-clr">ABOUT</span> Yourself  </h1>
            <a href="/"><button>Home</button></a>
    </div>
<!--right header side-->

</div>
</div>
</div>
</div>
<!--Footer code-->
{{>footer}}
    </body>
</html>